/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* VARIABLES */
:root {
  /* Header Height */
  --header-height: 4rem;
  /* Colors */
  --primary-color: #1f478e;
  --secondary-color: rgb(17, 158, 146);
  --text-color-light: black;
  --text-color-dark: rgba(230, 238, 196, 0.973);
  --body-color: rgba(233, 229, 229, 0.966);
  --container-color: black;
  --header-color: rgba(255, 255, 255);
  --footer-bg-color: rgb(129, 129, 129);

  /* FONTS & TYPOGRAPHY */
  --body-font: "Noto Sans KR", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.8rem;

  /* FONT WEIGHT */
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  /* MARGINS */
  --mb-0: 0.25rem;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z - index */
  --z-normal: 10;
  --z-fixed: 100;
  overscroll-behavior: none;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--body-color); */
  color: var(--text-color);
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  list-style: none;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

a {
  text-decoration: none;
}

/* Global */
.section-title {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* Layout */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
}

.l-main {
  margin-top: var(--header-height);
}
/* NAV */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.logo__img {
  width: 25%;
}

.nav__item {
  margin-bottom: var(--mb-2);
  color: black;
  border-radius: 8px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav__item:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}

.nav__toggle {
  font-size: var(--h2-font-size);
  cursor: pointer;
}

.nav__link {
  transition: 0.4s;
}

/* Media query for nav */
@media screen and (max-width: 768px) {
  /* 768px 이하일 때 위로 숨겨놓고 햄버거 클릭하면 slide down */
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    transition: 0.4s;
    background-color: var(--body-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}
/* 미디어 쿼리 다음에 설정해야 classList toggle 해서 css 설정이 적용됨?!!!!! */
.show-menu {
  top: var(--header-height);
}

.main-title {
  font-size: 4rem;
  color: var(--primary-color);
  text-shadow: 4px 4px 0px #a5a0a1;
  margin-bottom: var(--mb-1);
}

.title-fullname {
  margin-top: var(--mb-1);
  margin-left: var(--mb-2);
}

.section-head {
  display: flex;
  align-items: center;
}
.title {
  font-family: var(--body-font);
  font-weight: var(--font-light);
  font-size: var(--h3-font-size);
}
.title-line {
  margin-left: 1rem;
  width: 150px;
  height: 1.5px;
  background-color: #1f478e;
}
.whatwedo-sub {
  background-color: #dbdada;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 3rem;
}

.section-subtitle {
  color: var(--primary-color);
  font-size: var(--h1-font-size);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(--header-height + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  /* .nav__item {
    margin-right: var(--mb-6);
    margin-bottom: 0;
  } */

  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-right: auto;
    margin-left: auto;
  }
}

.about {
  margin-top: 5rem;
}

.about__dataContainer {
  margin-left: 0;
  margin-right: 0;
}

.whatwedo-subtitle {
  text-align: center;
}

.whatwedo__data {
  display: flex;
  justify-content: space-evenly;
}

.data__item {
  width: 250px;
  text-align: center;
}
.data__img {
  width: 30%;
  margin: var(--mb-3);
}
.data__description {
  font-size: var(--smaller-font-size);
}

.about__ceoContainer {
  margin-top: var(--mb-6);
}

.ceo-sub {
  background-color: var(--primary-color);
  color: white;
}

.ceo-subtitle {
  text-align: left;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.ceo__greeting {
  display: flex;
  align-items: center;
}

.ceo__avater {
  border-radius: 40px;
}

.ceo__typo {
  margin-left: 2rem;
}

/* Table */
.about__patents {
  margin-top: var(--mb-6);
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

tr {
  height: 3rem;
}

.table__head {
  background-color: rgb(173, 175, 174);
}

#item2,
#item4 {
  background-color: rgba(214, 214, 214, 0.959);
}
#item1,
#item3 {
  background-color: white;
}

.section__works {
  background-color: white;
}

/* FOOTER */
footer {
  background-color: var(--footer-bg-color);
  margin-bottom: 0;
  bottom: 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.portfolio__img {
  width: 20%;
}
